
@{
    ViewBag.Title = "ErrorDataNull";
}

<h1>Terdapat Data Di Excel Yang Kosong</h1>
<p>Silahkan cek kembali dan pastikan sudah terisi semua</p>
<a href="@Url.Action("Index", "UploadData")">Kembali</a>

