@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Selamat Datang Di Aplikasi Monitoring Kesehatan Bank</h2>
    <p>Silahkan Login terlebih dahulu untuk menggunakan aplikasi ini</p>    
    <img src="~/Content/img/gedungbi.jpg" width="600" height="300"/>
</div>
