@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Data Role";
}

<h2>Data Role</h2>

<p>
    @Html.ActionLink("Tambah Data", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Role")
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>